/* prettier-ignore */
@source inline("{col-span-{3,4,6,8,9}}");
/* prettier-ignore */
@source inline("{flex-{col,row}-reverse}");

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-sm text-foreground;
  }

  * {
    scrollbar-color: var(--color-gray-500) transparent;
    scrollbar-width: thin;
  }

  .dark * {
    scrollbar-color: var(--color-gray-500) transparent;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;
}
