@import "./font.css";
@import "@narsil-ui/../css/colors.css";
@import "@narsil-ui/../css/theme.css";
@import "@narsil-ui/../css/utilities.css";

@source inline("{col-span-{3,4,6,8,9}}");
@source inline("{flex-{col,row}-reverse}");

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-sm text-foreground;
  }

  * {
    scrollbar-color: var(--color-gray-500) transparent;
    scrollbar-width: thin;
  }

  .dark * {
    scrollbar-color: var(--color-gray-500) transparent;
  }
}
