@source inline('{bg,text}-{gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{500}');

[data-color="red"] {
  --primary: theme("colors.red.600");
  --ring: theme("colors.red.600");
}
[data-color="red"].dark {
  --primary: theme("colors.red.400");
  --ring: theme("colors.red.400");
}

[data-color="orange"] {
  --primary: theme("colors.orange.600");
  --ring: theme("colors.orange.600");
}
[data-color="orange"].dark {
  --primary: theme("colors.orange.400");
  --ring: theme("colors.orange.400");
}

[data-color="amber"] {
  --primary: theme("colors.amber.600");
  --ring: theme("colors.amber.600");
}
[data-color="amber"].dark {
  --primary: theme("colors.amber.400");
  --ring: theme("colors.amber.400");
}

[data-color="yellow"] {
  --primary: theme("colors.yellow.600");
  --ring: theme("colors.yellow.600");
}
[data-color="yellow"].dark {
  --primary: theme("colors.yellow.400");
  --ring: theme("colors.yellow.400");
}

[data-color="lime"] {
  --primary: theme("colors.lime.600");
  --ring: theme("colors.lime.600");
}
[data-color="lime"].dark {
  --primary: theme("colors.lime.400");
  --ring: theme("colors.lime.400");
}

[data-color="green"] {
  --primary: theme("colors.green.600");
  --ring: theme("colors.green.600");
}
[data-color="green"].dark {
  --primary: theme("colors.green.400");
  --ring: theme("colors.green.400");
}

[data-color="emerald"] {
  --primary: theme("colors.emerald.600");
  --ring: theme("colors.emerald.600");
}
[data-color="emerald"].dark {
  --primary: theme("colors.emerald.400");
  --ring: theme("colors.emerald.400");
}

[data-color="teal"] {
  --primary: theme("colors.teal.600");
  --ring: theme("colors.teal.600");
}
[data-color="teal"].dark {
  --primary: theme("colors.teal.400");
  --ring: theme("colors.teal.400");
}

[data-color="cyan"] {
  --primary: theme("colors.cyan.600");
  --ring: theme("colors.cyan.600");
}
[data-color="cyan"].dark {
  --primary: theme("colors.cyan.400");
  --ring: theme("colors.cyan.400");
}

[data-color="sky"] {
  --primary: theme("colors.sky.600");
  --ring: theme("colors.sky.600");
}
[data-color="sky"].dark {
  --primary: theme("colors.sky.400");
  --ring: theme("colors.sky.400");
}

[data-color="blue"] {
  --primary: theme("colors.blue.600");
  --ring: theme("colors.blue.600");
}
[data-color="blue"].dark {
  --primary: theme("colors.blue.400");
  --ring: theme("colors.blue.400");
}

[data-color="indigo"] {
  --primary: theme("colors.indigo.600");
  --ring: theme("colors.indigo.600");
}
[data-color="indigo"].dark {
  --primary: theme("colors.indigo.400");
  --ring: theme("colors.indigo.400");
}

[data-color="violet"] {
  --primary: theme("colors.violet.600");
  --ring: theme("colors.violet.600");
}
[data-color="violet"].dark {
  --primary: theme("colors.violet.400");
  --ring: theme("colors.violet.400");
}

[data-color="purple"] {
  --primary: theme("colors.purple.600");
  --ring: theme("colors.purple.600");
}
[data-color="purple"].dark {
  --primary: theme("colors.purple.400");
  --ring: theme("colors.purple.400");
}

[data-color="fuchsia"] {
  --primary: theme("colors.fuchsia.600");
  --ring: theme("colors.fuchsia.600");
}
[data-color="fuchsia"].dark {
  --primary: theme("colors.fuchsia.400");
  --ring: theme("colors.fuchsia.400");
}

[data-color="pink"] {
  --primary: theme("colors.pink.600");
  --ring: theme("colors.pink.600");
}
[data-color="pink"].dark {
  --primary: theme("colors.pink.400");
  --ring: theme("colors.pink.400");
}

[data-color="rose"] {
  --primary: theme("colors.rose.600");
  --ring: theme("colors.rose.600");
}
[data-color="rose"].dark {
  --primary: theme("colors.rose.400");
  --ring: theme("colors.rose.400");
}
