@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-constructive: var(--constructive);
  --color-constructive-foreground: var(--constructive-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar: var(--sidebar);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --scale-50: theme(colors.gray.50);
  --scale-100: theme(colors.gray.100);
  --scale-200: theme(colors.gray.200);
  --scale-300: theme(colors.gray.300);
  --scale-400: theme(colors.gray.400);
  --scale-500: theme(colors.gray.500);
  --scale-600: theme(colors.gray.600);
  --scale-700: theme(colors.gray.700);
  --scale-800: theme(colors.gray.800);
  --scale-900: theme(colors.gray.900);
  --scale-950: theme(colors.gray.950);
}

:root {
  --accent-foreground: var(--scale-950);
  --accent: var(--scale-200);
  --background: var(--scale-50);
  --border: var(--scale-300);
  --card-foreground: var(--scale-950);
  --card: var(--scale-50);
  --constructive-foreground: var(--scale-50);
  --constructive: oklch(62.7% 0.194 149.214);
  --destructive-foreground: var(--scale-50);
  --destructive: oklch(57.7% 0.245 27.325);
  --foreground: var(--scale-950);
  --input: var(--scale-300);
  --muted-foreground: var(--scale-500);
  --muted: var(--scale-200);
  --popover-foreground: var(--scale-950);
  --popover: var(--scale-50);
  --primary-foreground: var(--scale-50);
  --primary: var(--scale-900);
  --radius: 0.5rem;
  --ring: var(--scale-400);
  --secondary-foreground: var(--scale-950);
  --secondary: var(--scale-300);

  --sidebar-accent-foreground: var(--scale-950);
  --sidebar-accent: var(--scale-300);
  --sidebar-border: var(--scale-300);
  --sidebar-foreground: var(--scale-950);
  --sidebar-primary-foreground: var(--scale-50);
  --sidebar-primary: var(--scale-900);
  --sidebar-ring: var(--scale-400);
  --sidebar: var(--scale-100);
}

.dark {
  --accent-foreground: var(--scale-50);
  --accent: var(--scale-800);
  --background: var(--scale-950);
  --border: var(--scale-700);
  --card-foreground: var(--scale-50);
  --card: var(--scale-950);
  --foreground: var(--scale-50);
  --input: var(--scale-700);
  --muted-foreground: var(--scale-500);
  --muted: var(--scale-800);
  --popover-foreground: var(--scale-50);
  --popover: var(--scale-950);
  --primary-foreground: var(--scale-950);
  --primary: var(--scale-100);
  --ring: var(--scale-600);
  --secondary-foreground: var(--scale-50);
  --secondary: var(--scale-700);

  --sidebar-accent-foreground: var(--scale-50);
  --sidebar-accent: var(--scale-700);
  --sidebar-border: var(--scale-700);
  --sidebar-foreground: var(--scale-50);
  --sidebar-primary-foreground: var(--scale-950);
  --sidebar-primary: var(--scale-100);
  --sidebar-ring: var(--scale-500);
  --sidebar: var(--scale-900);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
